* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:host {
    width: 30%;
    /* border: 1px solid #969aa3; */
    display: flex;
    flex-direction: column;
}

#sidebar-menu-container {
    margin-top: 50px;
    display: flex;
    width: 100%;
    flex-direction: column;
}


