* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

table {
    width: 200px;
    color: white;
    border-spacing: 0;
    border: 1px solid #5a5c82;
    border-collapse: collapse;
}


tr {
    height: 20px;
    border: 1px solid #5a5c82;
}

tr:last-child {
    border-bottom: none;
}

:host {
    width: 200px;
    position: relative; 
    display: flex;
}
