* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:host {
    border: 0.01em ridge #6c6e70;
    border-radius: 6px;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.pannable-root {
    width: 100%;
    overflow: hidden;
}

.pannable-root.active {
    /* background: rgba(255,255,255,0.3); */
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
  }

#pannable { 
    background: linear-gradient(90deg, #1c1e23 21px, transparent 1%) center, linear-gradient(#1c1e23 21px, transparent 1%) center, #706a7e;
    background-size: 22px 22px; 
    width: 2000px;
    height: 1000px;
    overflow: hidden;
}

