* {
    box-sizing: border-box;
}

#button-container {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: right;
}


modeler-canvas {
    display: flex;
    height: 90%;
    width: 100%;
}

